.max_img {
    max-width: 800px !important;
}

.containerContent {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #1739a8;
}

.bckMainContainer {
    min-height: 50vh;
    min-width: 60vw;
    background: url(../../assets/city.jpg) left center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cityText {
    font-weight: 600;
    font-size: 23px;
}

@media only screen and (max-width: 550px) {
    .containerContent {
        top: 5%;
        left: 25%;
    }
}