.max_img {
    max-width: 800px !important;
}

.containerContent {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #1739a8;
}

.bckMainContainer {
    max-width: 800px;
    max-height: 400px;
    min-height: 350px;
    min-width: 700px;
    background: url(../../assets/city.jpg) left center;
    background-size: inherit;
    background-repeat: no-repeat;
}

.cityText {
    font-weight: 600;
    font-size: 23px;
}