.secondRowContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

@media only screen and (max-width: 550px) {
    .secondRowContainer {
        flex-direction: column;
        align-items: center;
    }
}