body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: #f1f1f1 !important;
  font-family: sans-serif !important;
}


@media only screen and (min-width: 550px) {
  .container {
    padding-left: 5.5rem !important;
  }
}

.common-label {
  font-weight: 600;
  font-size: 23px;
  color: #1739a8;
}

.shadow {
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px !important;
}

.mxw-50{
  max-width: 50px;
}

input:focus{
  outline: none;
}

.loading {
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 20px;
  z-index: 99;
}

.bck {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.tempContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

.br-25{
  border-radius: 25px;
}

.w {
  color: white;
}

.mb-75 {
  margin-bottom: 1.75rem;
}

.w-8 {
  width: 8%;
}

.mt-05{
  margin-top: 0.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}


.relative {
  position: relative;
}

.w-image {
  width: 36px;
}